section.about.js-hide-section#about
  .about__cont.cont
    .about__top
      h2.about__title.h2 about
      p.about__text.about__text_right.h4.
        Football Pro Academy is a global network of world-class football schools
        with a modern approach. For children of all ages and levels of training.
    .about__bottom
      .about__text-box
        p.about__text.about__text_left.h4.
          In our Football Academy, sports traditions are combined with a modern approach.
          The high-skill trainers give attentive attitude to young athletes
      .about__small-text-box
        p.about__small-text.
          The training methodology of the grand European football.
          Modern approach of trainers for children of different levels of training.
