.informer.js-hide-section.js-white-section
  .informer__cont.cont
    .informer__wrap
      .informer__area
        //img.informer__image-left(src=staticImg('informer/left.png') alt='')
        //img.informer__image-right(src=staticImg('informer/right.png') alt='')
        img.informer__image-ball(src=staticImg('informer/ball.png') alt='')
        h2.informer__title.h1 children's football academy
        .informer__text.h5 let's bring up a new champion
        button.informer__button.btn-black.js-open-popup(type='button') sign up for a lesson
