section.article
  .article__cont.cont
    .article__top
      h1.article__caption.h1 The U7 team (2015) became the Champion of the KELME Cup tournament
      .article__date.h5 20. 12. 2020
    .content
      p.
        The training methodology of the grand European football. Modern approach of trainers for
        children of different levels of training.
      img(src=placeholder(1186,636) alt='')
      h2 In our Football Academy
      p.
        The training methodology of the grand European football. Modern approach of trainers
        for children of different levels of training.
      p.
        The training methodology of the grand European football.
        Modern approach of trainers for children of different levels of training.
      h3 The training methodology
      ul
        li The training methodology of the grand European football.
        li Modern approach of trainers for children of different levels of training.
        li The training methodology of the grand
      include ../gallery
      +gallery('gallery_article')
      h3 The training methodology
      ol
        li The training methodology of the grand European football European football.
        li Modern approach of trainers for children of different levels of training of training.
        li The training methodology of the grand
      h4 The training methodology
      span.
        The training methodology of the grand European football.
        Modern approach of trainers for children of different levels of training.
      span.
        The training methodology of the grand European football.
