section.pro-cap
  img.pro-cap_bg(src=staticImg('pro-cap/pro-cap.jpg') alt='')
  .pro-cap__cont.cont
    .pro-cap__wrap
      h1.pro-cap__title.h3 Unique methodology sportsmen training
      .pro-cap__text.p1 Analytic and global method
      button.pro-cap__sign-up.btn-black.js-open-popup(type='button') sign up for a lesson
