section.pro-about
  img.pro-about__image(src=staticImg('pro-about/pro-about.svg') alt='')
  .pro-about__cont.cont
    h3.pro-about__title.h3 What is this program?
    .content
      p.
        PRO M+ is a program for selecting football players who meet the criteria of the formula that underlies the
        development of football players at every age starting from U9 ( age/ skill/intelligence) if a football player
        achieves the desired results in these three components, he is considered as a player who can potentially have
        the opportunity to play professional football and is included in the PRO M+ program
        The advantages of the program are the formation of separate groups in which a more complex training program
        is focused on the professional development of a football player .
        The goal of the program itself is to give the most capable children the opportunity to show themselves at a
        professional level.
