section.philosophy
  img.philosophy__image(src=staticImg('philosophy/philosophy.svg') alt='')
  .philosophy__cont.cont
    h3.philosophy__title.h3 Philosophy
    .content
      p.
        At this age, children do not perceive complex technical and strength exercises.
        The training focuses on the development of coordination and the formation of interest in the game.
        In the classroom, coaches in a game format (the simplest relay races with elements of rivalry and
        scoring goals) reveal the child's capabilities and what needs to be worked on in the future.
        The exercises take into account the anthropometric and cognitive abilities of the child, to create a
        comfortable environment for each player.
    .philosophy__note.h6 Training duration:
    .philosophy__value.h6 45-60 minutes
