section.price
  .price__cont.cont
    .price__area
      .price__left
        .price__title.h5 Price
        .price__top.h6 from
        .price__value.h2 10100
        .price__bottom.h6 AED / PER YEAR
      img.price__image(src=staticImg('price.svg') alt='')
      .price__right
        p.price__text.p1 PRO M x Adidas branded uniform set and PRO M X Adidas branded backpack as a gift!
        .price__info.p2 * forma as a gift with a contract of 3 months or more
        .price__info.p2 * a backpack as a gift with a contract of 6 months or more
