footer.program-footer
  .program-footer__cont.cont
    .program-footer__copyright Football Pro Academy  © 2022
    .program-footer__social
      a.program-footer__social-item.program-footer__social-item_in(href='#' target='_blank')
      a.program-footer__social-item.program-footer__social-item_vk(href='#' target='_blank')
