section.program-cap.js-white-section
  img.program-cap__image(src=staticImg('program-cap/program-cap.jpg') alt='')
  .program-cap__cont.cont
    .program-cap__wrap
      h1.program-cap__title.h3!= `U4-U7 <br> PLAY FOR FUN`
      .program-cap__area
        .program-cap__left
          .program-cap__line
            .program-cap__line-item.h6 7-9 years old
            .program-cap__line-item.h6 45-60 minutes
          p.program-cap__text.p1.
            In our Football Academy, sports traditions are combined with a modern approach.
            The high-skill trainers give attentive attitude to young athletes
        .program-cap__right
          .program-cap__tags
            button.program-cap__tag.h6.btn-white-transparent.js-open-popup(type='button' data-gender="1" data-age="1") Boys
            button.program-cap__tag.h6.btn-white-transparent.js-open-popup(type='button' data-gender="2" data-age="1") girls
