section.approach-cap
  .approach-cap__cont.cont
    .approach-cap__area
      h1.approach-cap__title.h2 PRO M Philosophy
      .approach-cap__right
        p.approach-cap__text.p1.
          You will not hear from us that your child is not suitable for us, each child is unique and has
          its own pace of development. We take into account the skills of each child and
          build a balanced system of training and taking into account all parameters, starting with the
          physical and ending with the psychological characteristics of each child.
        p.approach-cap__text.p1.
          The PRO M Academy is a place where your children can immerse themselves in the world of the best
          game invented by mankind, we will direct your child's talent in the right direction, instill an
          interest in football and teach you to set goals and achieve them.
    .approach-cap__left
      h2.approach-cap__headline.h4 Why is this so important?
      p.approach-cap__text-left.p1.
        Our coaching and management team consists of top-level professionals with extensive experience working
        with children of all ages,
        in different parts of the world! These are specialists who will easily find an individual approach to
        each child. We will teach your child not just to "kick the ball", but really "infect" with the love of football!
