section.why-we
  img.why-we__gate.why-we__gate_left(src=staticImg('why-we/why-we-left.svg') alt='')
  img.why-we__gate.why-we__gate_right(src=staticImg('why-we/why-we-right.svg') alt='')
  .why-we__cont.cont
    .why-we__box
      h2.why-we__title.h4 Why are we better?
      p.why-we__text.p1.
        The uniqueness of our philosophy lies in the fact that we do not prepare a team and team
        results are not important to us! We are preparing football players! It is important for us
        that each of our footballers has the right qualities when switching to professional football!
        Our main victory will be to watch our graduates in the lineups of clubs around the world!
      button.why-we__button.btn-white-transparent.js-open-popup(type='button') sign up for a lesson
