mixin events-tile__item(mod)
  a.events-tile__item(href='#')
    .events-tile__picture
      .events-tile__tag.h6(class = mod === 1 || mod === 3 ? 'events-tile__tag_brown' : 'events-tile__tag_green') upcoming event
      img.events-tile__image(src=placeholder(581,264) alt='')
    .events-tile__box
      .events-tile__top
        .events-tile__note.h6 event
        .events-tile__date.h6 20/12/2020
      p.events-tile__text.p1.
        The U7 team (2015) became the Champion of the KELME Cup tournament.
        The U7 team (2015) became the Champion of the KELME Cup tournament
