mixin news-tile__item(mod)
  a.news-tile__item(href='#' class = mod === 'article' ? 'swiper-slide' : false)
    .news-tile__top
      .news-tile__note.h6 news
      .news-tile__date.h6 20/10/2020
    p.news-tile__text.p1.
      The U7 team (2015) became the Champion of the KELME Cup tournament. The U7 team (2015) became the Champion of the KELME Cup tournament
