section.contact-map
  .contact-map__cont.cont
    h1.contact-map__title.h1 contact
    .contact-map__area
      .contact-map__map#js-contact-map__map(data-coords-center="[55.722416, 37.545384]")
      .contact-map__list
        .contact-map__item
          .contact-map__headline.h6 adress
          .contact-map__box
            .contact-map__box-line.h4 Moscow, Luzhniki street, 24, building 46
          .contact-map__headline.h6 phone
          .contact-map__box
            a.contact-map__box-line.h4.link-white(href='tel:+79999999999') +7 999 999 99 99
            a.contact-map__box-line.h4.link-white(href='tel:+79998888888') +7 999 888 88 88
          .contact-map__headline.h6 e-mail
          .contact-map__box
            a.contact-map__box-line.h4.link-white(href='mailto:football@academy.com') football@academy.com
            a.contact-map__box-line.h4.link-white(href='mailto:pr@academy.com') pr@academy.com
