section.not-found.js-not-found
  .not-found__cont.cont
    .not-found__area
      .not-found__box
        .not-found__team
          .not-found__team-span TEAM
          .not-found__team-name A
        img.not-found__number(src=staticImg('not-found-number.svg') alt='')
        .not-found__team
          .not-found__team-span TEAM
          .not-found__team-name B
      h1.not-found__title.h3 Oh no, bad luck!
      p.not-found__text.p2 The page you're looking for could have been deleted or never have existed.
